In [1]:
#Just added dataframes together in this notebook
import pandas as pd
import numpy as np
import os
import datetime

In [2]:
df1 = pd.read_csv('CrimeDataCleanedreal.csv')

df1.head()

,Unnamed: 0,ID,Date,Primary Type,Arrest,Domestic,Community Name,District Name
0,0,11034701,2001-01-01 11:00:00,DECEPTIVE PRACTICE,False,False,Avalon Park,South Chicago
1,1,11227287,2017-10-08 03:00:00,CRIM SEXUAL ASSAULT,False,False,Washington Heights,Morgan Park
2,2,11227583,2017-03-28 14:00:00,BURGLARY,False,False,Ashburn,Chicago Lawn
3,3,11227293,2017-09-09 20:17:00,THEFT,False,False,Woodlawn,Grand Crossing
4,4,11227634,2017-08-26 10:00:00,CRIM SEXUAL ASSAULT,False,False,The Loop,Central

In [3]:
df2 = pd.read_csv('ChiWeatherDataRevised.csv')

df2.head()

,Unnamed: 0,Date,Average Daily Wind Speed Mph,Fastest mile Wind Speed time,Peak gust time,Percipitation,Snowfall,Snow depth,Average Temp,Max Temp,Min Temp,Fastest 2 min wind,Fastest 5 min wind,Fog/Ice Fog,Heavy Fog,Thunder,Hail,Smoke/Haze,Tornado
0,0,2001-01-01,7.38,1519,1518,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
1,1,2001-01-02,8.72,1616,1614,0.0,0.0,16.0,14.0,20.0,7.0,16.1,17.9,False,False,False,False,False,False
2,2,2001-01-03,12.08,1101,1100,0.0,0.0,15.0,18.0,28.0,7.0,21.0,25.1,False,False,False,False,False,False
3,3,2001-01-04,12.08,1951,1817,0.0,0.0,14.0,28.0,32.0,23.0,25.1,31.1,False,False,False,False,False,False
4,4,2001-01-05,13.20,1458,1132,0.0,0.0,13.0,30.0,37.0,22.0,23.0,31.1,False,False,False,False,False,False

In [4]:
df1 = df1.drop('Unnamed: 0', axis=1)
df2 = df2.drop('Unnamed: 0', axis=1)

In [5]:
df1.head()

,ID,Date,Primary Type,Arrest,Domestic,Community Name,District Name
0,11034701,2001-01-01 11:00:00,DECEPTIVE PRACTICE,False,False,Avalon Park,South Chicago
1,11227287,2017-10-08 03:00:00,CRIM SEXUAL ASSAULT,False,False,Washington Heights,Morgan Park
2,11227583,2017-03-28 14:00:00,BURGLARY,False,False,Ashburn,Chicago Lawn
3,11227293,2017-09-09 20:17:00,THEFT,False,False,Woodlawn,Grand Crossing
4,11227634,2017-08-26 10:00:00,CRIM SEXUAL ASSAULT,False,False,The Loop,Central

In [6]:
df2.head()

,Date,Average Daily Wind Speed Mph,Fastest mile Wind Speed time,Peak gust time,Percipitation,Snowfall,Snow depth,Average Temp,Max Temp,Min Temp,Fastest 2 min wind,Fastest 5 min wind,Fog/Ice Fog,Heavy Fog,Thunder,Hail,Smoke/Haze,Tornado
0,2001-01-01,7.38,1519,1518,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
1,2001-01-02,8.72,1616,1614,0.0,0.0,16.0,14.0,20.0,7.0,16.1,17.9,False,False,False,False,False,False
2,2001-01-03,12.08,1101,1100,0.0,0.0,15.0,18.0,28.0,7.0,21.0,25.1,False,False,False,False,False,False
3,2001-01-04,12.08,1951,1817,0.0,0.0,14.0,28.0,32.0,23.0,25.1,31.1,False,False,False,False,False,False
4,2001-01-05,13.20,1458,1132,0.0,0.0,13.0,30.0,37.0,22.0,23.0,31.1,False,False,False,False,False,False

In [7]:
df2.columns

Index(['Date', 'Average Daily Wind Speed Mph', 'Fastest mile Wind Speed time',
       'Peak gust time', 'Percipitation', 'Snowfall', 'Snow depth',
       'Average Temp', 'Max Temp', 'Min Temp', 'Fastest 2 min wind',
       'Fastest 5 min wind', 'Fog/Ice Fog', 'Heavy Fog', 'Thunder', 'Hail',
       'Smoke/Haze', 'Tornado'],
      dtype='object')

In [8]:
df1_dates = df1[['ID', 'Date']]

df1_dates.head()

         ID                 Date
0  11034701  2001-01-01 11:00:00
1  11227287  2017-10-08 03:00:00
2  11227583  2017-03-28 14:00:00
3  11227293  2017-09-09 20:17:00
4  11227634  2017-08-26 10:00:00

In [9]:
df1_dates.shape

(6519152, 2)

In [10]:
dfs = df1_dates.merge(df2, how='outer', on='Date')

In [11]:
dfs.head()

,ID,Date,Average Daily Wind Speed Mph,Fastest mile Wind Speed time,Peak gust time,Percipitation,Snowfall,Snow depth,Average Temp,Max Temp,Min Temp,Fastest 2 min wind,Fastest 5 min wind,Fog/Ice Fog,Heavy Fog,Thunder,Hail,Smoke/Haze,Tornado
0,11034701.0,2001-01-01 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1310773.0,2001-01-01 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1310886.0,2001-01-01 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1311075.0,2001-01-01 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1311594.0,2001-01-01 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
dfs = dfs.sort_values(by=['Date'])

dfs.head()

,ID,Date,Average Daily Wind Speed Mph,Fastest mile Wind Speed time,Peak gust time,Percipitation,Snowfall,Snow depth,Average Temp,Max Temp,Min Temp,Fastest 2 min wind,Fastest 5 min wind,Fog/Ice Fog,Heavy Fog,Thunder,Hail,Smoke/Haze,Tornado
6519152,NaN,2001-01-01,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
7015,4735908.0,2001-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6939,1403263.0,2001-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6965,2277171.0,2001-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6967,2353946.0,2001-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
dfs.shape

(6525359, 19)

In [14]:
dfs = dfs.ffill()

dfs.head(20)

,ID,Date,Average Daily Wind Speed Mph,Fastest mile Wind Speed time,Peak gust time,Percipitation,Snowfall,Snow depth,Average Temp,Max Temp,Min Temp,Fastest 2 min wind,Fastest 5 min wind,Fog/Ice Fog,Heavy Fog,Thunder,Hail,Smoke/Haze,Tornado
6519152,NaN,2001-01-01,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
7015,4735908.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6939,1403263.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6965,2277171.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6967,2353946.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6968,2393821.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
7000,3849799.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6938,1392468.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6937,1374123.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6969,2429863.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6936,1370284.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6970,2443081.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6935,1370270.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6934,1369398.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6933,1362018.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6932,1357088.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6999,3824165.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6998,3723059.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6931,1353509.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6930,1352564.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False

In [15]:
dfs.shape

(6525359, 19)

In [16]:
dfs = dfs[~dfs.Date.isin(df2.Date)]

In [17]:
df2.shape

(6207, 18)

In [18]:
dfs.shape

(6519152, 19)

In [19]:
dfs.head()

,ID,Date,Average Daily Wind Speed Mph,Fastest mile Wind Speed time,Peak gust time,Percipitation,Snowfall,Snow depth,Average Temp,Max Temp,Min Temp,Fastest 2 min wind,Fastest 5 min wind,Fog/Ice Fog,Heavy Fog,Thunder,Hail,Smoke/Haze,Tornado
7015,4735908.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6939,1403263.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6965,2277171.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6967,2353946.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6968,2393821.0,2001-01-01 00:00:00,7.38,1519.0,1518.0,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False

In [27]:
dfs.drop('Date', axis=1, inplace=True)

In [28]:
df1 = df1.sort_values(by=['Date'])

In [29]:
df1.head()

,ID,Date,Primary Type,Arrest,Domestic,Community Name,District Name
16884,11109587,2001-01-01 00:00:00,DECEPTIVE PRACTICE,False,False,Rogers Park,Rogers Park
52318,9754963,2001-01-01 00:00:00,SEX OFFENSE,False,False,North Lawndale,Ogden
4723505,7122679,2001-01-01 00:00:00,THEFT,False,False,Uptown,Lincoln
4488140,6742268,2001-01-01 00:00:00,OFFENSE INVOLVING CHILDREN,False,False,Auburn Gresham,Gresham
52317,9754953,2001-01-01 00:00:00,SEX OFFENSE,False,False,North Lawndale,Ogden

In [30]:
df = df1.merge(dfs, how='left', on='ID')

In [31]:
df.shape

(6519152, 24)

In [32]:
df.head(30)

,ID,Date,Primary Type,Arrest,Domestic,Community Name,District Name,Average Daily Wind Speed Mph,Fastest mile Wind Speed time,Peak gust time,...,Max Temp,Min Temp,Fastest 2 min wind,Fastest 5 min wind,Fog/Ice Fog,Heavy Fog,Thunder,Hail,Smoke/Haze,Tornado
0,11109587,2001-01-01 00:00:00,DECEPTIVE PRACTICE,False,False,Rogers Park,Rogers Park,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
1,9754963,2001-01-01 00:00:00,SEX OFFENSE,False,False,North Lawndale,Ogden,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
2,7122679,2001-01-01 00:00:00,THEFT,False,False,Uptown,Lincoln,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
3,6742268,2001-01-01 00:00:00,OFFENSE INVOLVING CHILDREN,False,False,Auburn Gresham,Gresham,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
4,9754953,2001-01-01 00:00:00,SEX OFFENSE,False,False,North Lawndale,Ogden,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
5,3433494,2001-01-01 00:00:00,SEX OFFENSE,False,False,South Chicago,South Chicago,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
6,9754946,2001-01-01 00:00:00,SEX OFFENSE,False,False,North Lawndale,Ogden,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
7,9754894,2001-01-01 00:00:00,SEX OFFENSE,False,False,North Lawndale,Ogden,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
8,6739668,2001-01-01 00:00:00,THEFT,False,False,Near North Side,Near North,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
9,9755245,2001-01-01 00:00:00,SEX OFFENSE,False,False,North Lawndale,Ogden,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
10,9754968,2001-01-01 00:00:00,SEX OFFENSE,False,False,North Lawndale,Ogden,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
11,9755198,2001-01-01 00:00:00,SEX OFFENSE,False,False,North Lawndale,Ogden,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
12,1818198,2001-01-01 00:00:00,THEFT,False,False,NaN,Town Hall,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
13,3994567,2001-01-01 00:00:00,CRIM SEXUAL ASSAULT,False,False,Douglas,Wentworth,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
14,2039846,2001-01-01 00:00:00,THEFT,False,False,NaN,Calumet,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
15,2043912,2001-01-01 00:00:00,OFFENSE INVOLVING CHILDREN,True,False,NaN,Deering,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
16,9755209,2001-01-01 00:00:00,SEX OFFENSE,False,False,North Lawndale,Ogden,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
17,9748516,2001-01-01 00:00:00,SEX OFFENSE,False,False,North Lawndale,Ogden,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
18,3970768,2001-01-01 00:00:00,THEFT,False,False,Belmont Cragin,Grand Central,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
19,7028627,2001-01-01 00:00:00,THEFT,False,False,Pullman,Calumet,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
20,6884455,2001-01-01 00:00:00,CRIM SEXUAL ASSAULT,False,True,West Garfield Park,Harrison,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
21,3883928,2001-01-01 00:00:00,THEFT,False,False,McKinley Park,Deering,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
22,9863118,2001-01-01 00:00:00,SEX OFFENSE,False,False,North Lawndale,Ogden,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
23,7277327,2001-01-01 00:00:00,THEFT,False,False,South Lawndale,Ogden,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
24,9755072,2001-01-01 00:00:00,SEX OFFENSE,False,False,North Lawndale,Ogden,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
25,8146039,2001-01-01 00:00:00,CRIM SEXUAL ASSAULT,False,False,Belmont Cragin,Grand Central,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
26,1352564,2001-01-01 00:00:00,THEFT,False,False,NaN,Shakespeare,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
27,9959537,2001-01-01 00:00:00,OFFENSE INVOLVING CHILDREN,False,True,Dunning,Jefferson Park,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
28,3272413,2001-01-01 00:00:00,THEFT,False,False,Auburn Gresham,Gresham,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False
29,1448635,2001-01-01 00:00:00,DECEPTIVE PRACTICE,False,False,NaN,Albany Park,7.38,1519.0,1518.0,...,26.0,13.0,15.0,17.0,False,False,False,False,False,False

In [33]:
df = df.sort_values(by=['Date'])

In [34]:
df.to_csv('CapstonePrjoectcleandatav1.csv')