In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
os.getcwd()

'/Users/oraff/Downloads'

In [3]:
df = pd.read_csv('2255236.csv')

In [4]:
#Checking out the data
df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,FMTM,PGTM,PRCP,...,WDF2,WDF5,WSF2,WSF5,WT01,WT02,WT03,WT05,WT08,WT10
0,USW00014819,"CHICAGO MIDWAY AIRPORT, IL US",41.78611,-87.75222,186.5,2001-01-01,7.38,1519.0,1518.0,0.0,...,320.0,320.0,15.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00014819,"CHICAGO MIDWAY AIRPORT, IL US",41.78611,-87.75222,186.5,2001-01-02,8.72,1616.0,1614.0,0.0,...,250.0,250.0,16.1,17.9,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00014819,"CHICAGO MIDWAY AIRPORT, IL US",41.78611,-87.75222,186.5,2001-01-03,12.08,1101.0,1100.0,0.0,...,240.0,250.0,21.0,25.1,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00014819,"CHICAGO MIDWAY AIRPORT, IL US",41.78611,-87.75222,186.5,2001-01-04,12.08,1951.0,1817.0,0.0,...,200.0,200.0,25.1,31.1,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00014819,"CHICAGO MIDWAY AIRPORT, IL US",41.78611,-87.75222,186.5,2001-01-05,13.20,1458.0,1132.0,0.0,...,320.0,300.0,23.0,31.1,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Getting rid of irrelevant columns.
df = df.drop(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'TSUN', 'WDF2', 'WDF5'], axis=1)

In [6]:
df.columns

Index(['DATE', 'AWND', 'FMTM', 'PGTM', 'PRCP', 'SNOW', 'SNWD', 'TAVG', 'TMAX',
       'TMIN', 'WSF2', 'WSF5', 'WT01', 'WT02', 'WT03', 'WT05', 'WT08', 'WT10'],
      dtype='object')

In [7]:
#Fixing colmn names so they make sense.
df.columns = ['Date', 'Average Daily Wind Speed Mph', 'Fastest mile Wind Speed time', 'Peak gust time', 'Percipitation', 'Snowfall', 'Snow depth', 'Average Temp', 'Max Temp', 'Min Temp', 'Fastest 2 min wind', 'Fastest 5 min wind', 'Fog/Ice Fog', 'Heavy Fog','Thunder', 'Hail', 'Smoke/Haze', 'Tornado']

In [8]:
df.head()

,Date,Average Daily Wind Speed Mph,Fastest mile Wind Speed time,Peak gust time,Percipitation,Snowfall,Snow depth,Average Temp,Max Temp,Min Temp,Fastest 2 min wind,Fastest 5 min wind,Fog/Ice Fog,Heavy Fog,Thunder,Hail,Smoke/Haze,Tornado
0,2001-01-01,7.38,1519.0,1518.0,0.0,NaN,17.0,20.0,26.0,13.0,15.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2001-01-02,8.72,1616.0,1614.0,0.0,NaN,16.0,14.0,20.0,7.0,16.1,17.9,NaN,NaN,NaN,NaN,NaN,NaN
2,2001-01-03,12.08,1101.0,1100.0,0.0,NaN,15.0,18.0,28.0,7.0,21.0,25.1,NaN,NaN,NaN,NaN,NaN,NaN
3,2001-01-04,12.08,1951.0,1817.0,0.0,NaN,14.0,28.0,32.0,23.0,25.1,31.1,NaN,NaN,NaN,NaN,NaN,NaN
4,2001-01-05,13.20,1458.0,1132.0,0.0,0.0,13.0,30.0,37.0,22.0,23.0,31.1,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.describe()

,Average Daily Wind Speed Mph,Fastest mile Wind Speed time,Peak gust time,Percipitation,Snowfall,Snow depth,Average Temp,Max Temp,Min Temp,Fastest 2 min wind,Fastest 5 min wind,Fog/Ice Fog,Heavy Fog,Thunder,Hail,Smoke/Haze,Tornado
count,6200.000000,1824.000000,6044.000000,6197.000000,196.000000,373.000000,1672.000000,6205.000000,6205.000000,6204.000000,6204.000000,1306.0,86.0,384.0,8.0,900.0,1.0
mean,9.790642,1372.339364,1347.903210,0.094965,0.187755,2.421716,52.190191,60.291861,44.208703,19.994165,25.775322,1.0,1.0,1.0,1.0,1.0,1.0
std,3.546368,574.246047,586.837312,0.281646,0.874923,3.311894,19.417390,21.041056,19.055438,5.907579,7.985524,0.0,0.0,0.0,0.0,0.0,NaN
min,1.790000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-18.000000,4.900000,0.000000,1.0,1.0,1.0,1.0,1.0,1.0
25%,7.160000,1117.000000,1104.000000,0.000000,0.000000,0.000000,37.000000,43.000000,30.000000,15.000000,19.900000,1.0,1.0,1.0,1.0,1.0,1.0
50%,9.400000,1443.000000,1416.000000,0.000000,0.000000,1.000000,53.000000,62.000000,45.000000,19.900000,23.900000,1.0,1.0,1.0,1.0,1.0,1.0
75%,11.860000,1721.250000,1711.000000,0.030000,0.000000,4.000000,69.000000,79.000000,61.000000,23.000000,30.000000,1.0,1.0,1.0,1.0,1.0,1.0
max,27.960000,2359.000000,2359.000000,5.200000,9.600000,17.000000,91.000000,104.000000,83.000000,53.000000,74.900000,1.0,1.0,1.0,1.0,1.0,1.0

In [10]:
#Some na values changed to zero for mostly bool columns.
df[['Snowfall', 'Snow depth', 'Fog/Ice Fog', 'Heavy Fog','Thunder', 'Hail', 'Smoke/Haze', 'Tornado']] = df[['Snowfall', 'Snow depth', 'Fog/Ice Fog', 'Heavy Fog','Thunder', 'Hail', 'Smoke/Haze', 'Tornado']].fillna(0)

In [11]:
#ffill on the rest.
df[['Average Daily Wind Speed Mph', 'Fastest mile Wind Speed time', 'Peak gust time', 'Percipitation', 'Fastest 2 min wind', 'Fastest 5 min wind', 'Max Temp', 'Min Temp']] = df[['Average Daily Wind Speed Mph', 'Fastest mile Wind Speed time', 'Peak gust time', 'Percipitation', 'Fastest 2 min wind', 'Fastest 5 min wind', 'Max Temp', 'Min Temp']].ffill()

In [12]:
df['Date'].max()

'2017-12-31'

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6207 entries, 0 to 6206
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          6207 non-null   object
 1   Average Daily Wind Speed Mph  6207 non-null   float64
 2   Fastest mile Wind Speed time  6207 non-null   float64
 3   Peak gust time                6207 non-null   float64
 4   Percipitation                 6207 non-null   float64
 5   Snowfall                      6207 non-null   float64
 6   Snow depth                    6207 non-null   float64
 7   Average Temp                  1672 non-null   float64
 8   Max Temp                      6207 non-null   float64
 9   Min Temp                      6207 non-null   float64
 10  Fastest 2 min wind            6207 non-null   float64
 11  Fastest 5 min wind            6207 non-null   float64
 12  Fog/Ice Fog                   6207 non-null   float64
 13  Heavy Fog                     6207 non-null   float64
 14  Thunder                       6207 non-null   float64
 15  Hail                          6207 non-null   float64
 16  Smoke/Haze                    6207 non-null   float64
 17  Tornado                       6207 non-null   float64
dtypes: float64(17), object(1)
memory usage: 873.0+ KB

In [14]:
#Add the max and min for the day and divide by 2 to get the avg for any days its missing.
df['Average Temp'] = df.apply(
    lambda row: (row['Max Temp']+row['Min Temp'])/2 if np.isnan(row['Average Temp']) else row['Average Temp'],
    axis=1
)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6207 entries, 0 to 6206
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          6207 non-null   object
 1   Average Daily Wind Speed Mph  6207 non-null   float64
 2   Fastest mile Wind Speed time  6207 non-null   float64
 3   Peak gust time                6207 non-null   float64
 4   Percipitation                 6207 non-null   float64
 5   Snowfall                      6207 non-null   float64
 6   Snow depth                    6207 non-null   float64
 7   Average Temp                  6207 non-null   float64
 8   Max Temp                      6207 non-null   float64
 9   Min Temp                      6207 non-null   float64
 10  Fastest 2 min wind            6207 non-null   float64
 11  Fastest 5 min wind            6207 non-null   float64
 12  Fog/Ice Fog                   6207 non-null   float64
 13  Heavy Fog                     6207 non-null   float64
 14  Thunder                       6207 non-null   float64
 15  Hail                          6207 non-null   float64
 16  Smoke/Haze                    6207 non-null   float64
 17  Tornado                       6207 non-null   float64
dtypes: float64(17), object(1)
memory usage: 873.0+ KB

In [16]:
df['Fastest mile Wind Speed time'] = df['Fastest mile Wind Speed time'].astype(int)
df['Peak gust time'] = df['Peak gust time'].astype(int)

In [17]:
#Made these bools for convenience sake
df['Fog/Ice Fog'] = df['Fog/Ice Fog'].astype('bool')
df['Heavy Fog'] = df['Heavy Fog'].astype('bool')
df['Thunder'] = df['Thunder'].astype('bool')
df['Hail'] = df['Hail'].astype('bool')
df['Smoke/Haze'] = df['Smoke/Haze'].astype('bool')
df['Tornado'] = df['Tornado'].astype('bool')
df.head()

,Date,Average Daily Wind Speed Mph,Fastest mile Wind Speed time,Peak gust time,Percipitation,Snowfall,Snow depth,Average Temp,Max Temp,Min Temp,Fastest 2 min wind,Fastest 5 min wind,Fog/Ice Fog,Heavy Fog,Thunder,Hail,Smoke/Haze,Tornado
0,2001-01-01,7.38,1519,1518,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
1,2001-01-02,8.72,1616,1614,0.0,0.0,16.0,14.0,20.0,7.0,16.1,17.9,False,False,False,False,False,False
2,2001-01-03,12.08,1101,1100,0.0,0.0,15.0,18.0,28.0,7.0,21.0,25.1,False,False,False,False,False,False
3,2001-01-04,12.08,1951,1817,0.0,0.0,14.0,28.0,32.0,23.0,25.1,31.1,False,False,False,False,False,False
4,2001-01-05,13.20,1458,1132,0.0,0.0,13.0,30.0,37.0,22.0,23.0,31.1,False,False,False,False,False,False

In [18]:
df['Date'] = pd.to_datetime(df['Date'])
df.head()

,Date,Average Daily Wind Speed Mph,Fastest mile Wind Speed time,Peak gust time,Percipitation,Snowfall,Snow depth,Average Temp,Max Temp,Min Temp,Fastest 2 min wind,Fastest 5 min wind,Fog/Ice Fog,Heavy Fog,Thunder,Hail,Smoke/Haze,Tornado
0,2001-01-01,7.38,1519,1518,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
1,2001-01-02,8.72,1616,1614,0.0,0.0,16.0,14.0,20.0,7.0,16.1,17.9,False,False,False,False,False,False
2,2001-01-03,12.08,1101,1100,0.0,0.0,15.0,18.0,28.0,7.0,21.0,25.1,False,False,False,False,False,False
3,2001-01-04,12.08,1951,1817,0.0,0.0,14.0,28.0,32.0,23.0,25.1,31.1,False,False,False,False,False,False
4,2001-01-05,13.20,1458,1132,0.0,0.0,13.0,30.0,37.0,22.0,23.0,31.1,False,False,False,False,False,False

In [19]:
df['Snowfall'].unique()

array([0. , 0.1, 0.4, 1.2, 5.9, 1.3, 0.3, 0.2, 0.5, 1.7, 1.4, 0.7, 0.8,
       1. , 9.6, 3.2, 0.6])

In [20]:
df.sort_values('Date')

,Date,Average Daily Wind Speed Mph,Fastest mile Wind Speed time,Peak gust time,Percipitation,Snowfall,Snow depth,Average Temp,Max Temp,Min Temp,Fastest 2 min wind,Fastest 5 min wind,Fog/Ice Fog,Heavy Fog,Thunder,Hail,Smoke/Haze,Tornado
0,2001-01-01,7.38,1519,1518,0.00,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
1,2001-01-02,8.72,1616,1614,0.00,0.0,16.0,14.0,20.0,7.0,16.1,17.9,False,False,False,False,False,False
2,2001-01-03,12.08,1101,1100,0.00,0.0,15.0,18.0,28.0,7.0,21.0,25.1,False,False,False,False,False,False
3,2001-01-04,12.08,1951,1817,0.00,0.0,14.0,28.0,32.0,23.0,25.1,31.1,False,False,False,False,False,False
4,2001-01-05,13.20,1458,1132,0.00,0.0,13.0,30.0,37.0,22.0,23.0,31.1,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6202,2017-12-27,8.05,1056,517,0.00,0.0,0.0,2.5,8.0,-3.0,15.0,17.0,False,False,False,False,False,False
6203,2017-12-28,6.93,1056,1210,0.00,0.0,0.0,8.0,14.0,2.0,16.1,21.0,True,False,False,False,False,False
6204,2017-12-29,7.61,1056,24,0.02,0.0,0.0,13.0,16.0,10.0,15.0,18.1,False,False,False,False,False,False
6205,2017-12-30,12.75,1056,717,0.00,0.0,0.0,7.5,15.0,0.0,23.9,30.0,False,False,False,False,False,False
6206,2017-12-31,10.07,1056,1528,0.00,0.0,0.0,7.5,15.0,0.0,18.1,21.9,False,False,False,False,False,False

In [21]:
df.head()

,Date,Average Daily Wind Speed Mph,Fastest mile Wind Speed time,Peak gust time,Percipitation,Snowfall,Snow depth,Average Temp,Max Temp,Min Temp,Fastest 2 min wind,Fastest 5 min wind,Fog/Ice Fog,Heavy Fog,Thunder,Hail,Smoke/Haze,Tornado
0,2001-01-01,7.38,1519,1518,0.0,0.0,17.0,20.0,26.0,13.0,15.0,17.0,False,False,False,False,False,False
1,2001-01-02,8.72,1616,1614,0.0,0.0,16.0,14.0,20.0,7.0,16.1,17.9,False,False,False,False,False,False
2,2001-01-03,12.08,1101,1100,0.0,0.0,15.0,18.0,28.0,7.0,21.0,25.1,False,False,False,False,False,False
3,2001-01-04,12.08,1951,1817,0.0,0.0,14.0,28.0,32.0,23.0,25.1,31.1,False,False,False,False,False,False
4,2001-01-05,13.20,1458,1132,0.0,0.0,13.0,30.0,37.0,22.0,23.0,31.1,False,False,False,False,False,False

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6207 entries, 0 to 6206
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          6207 non-null   datetime64[ns]
 1   Average Daily Wind Speed Mph  6207 non-null   float64
 2   Fastest mile Wind Speed time  6207 non-null   int64
 3   Peak gust time                6207 non-null   int64
 4   Percipitation                 6207 non-null   float64
 5   Snowfall                      6207 non-null   float64
 6   Snow depth                    6207 non-null   float64
 7   Average Temp                  6207 non-null   float64
 8   Max Temp                      6207 non-null   float64
 9   Min Temp                      6207 non-null   float64
 10  Fastest 2 min wind            6207 non-null   float64
 11  Fastest 5 min wind            6207 non-null   float64
 12  Fog/Ice Fog                   6207 non-null   bool
 13  Heavy Fog                     6207 non-null   bool
 14  Thunder                       6207 non-null   bool
 15  Hail                          6207 non-null   bool
 16  Smoke/Haze                    6207 non-null   bool
 17  Tornado                       6207 non-null   bool
dtypes: bool(6), datetime64[ns](1), float64(9), int64(2)
memory usage: 618.4 KB

In [26]:
df2 = df['Average Temp'] <= 40

In [27]:
df2.sum()

1888

In [23]:
df.to_csv('ChiWeatherDataRevised.csv')